<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Example--F.O.X-Engagement-Swift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D96DE4FD1CED5410000738D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D96DE5141CED5410000738D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D96DE51F1CED5410000738D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
